* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* menu section */

.menu-container {
  position: sticky;
  top: 0;
  background: #2c3e50;
  color: white;
  padding: 1.6rem calc(1rem + 2vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.menu-item {
  cursor: pointer;
  font-size: 1rem;
}

.menu-item:hover {
  color: #1abc9c;
}
.menu-btn {
  background: #1abc9c;
  font-size: 1rem;
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 55rem) {
  .menu-items {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

/* hero section */

.hero-container {
  background: #1abc9c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: bold;
  padding: 3rem 1rem;
}

.hero-img {
  width: 16rem;
}
.hero-discribtion {
  font-size: 1rem;
}

.line-star {
  padding: 1rem;
}

/* PORTFOLIO section */

.protfolio-container {
  color: #2c3e50;
  font-size: 2.6rem;
  font-weight: bold;
  padding: 3rem 1rem;
  text-align: center;
}
